/*
    all pages
*/

html, body {
  height: 100%;
}
body {
  display: grid;
  color: #404040;
}
@media screen and (min-width: 600px) { /* 608px */
  body {
    font-size: 19px;
  }
}
main, article {
  max-width: 750px;
  margin: auto;
}

/* link colours */
a {
  color: #4d8fdb; 
}
a:visited {
  color: #d8a2ec;
}

/* <nav> on all pages except index */
nav {
  font-family: "Roboto-Mono", monospace; 
}


/* 
    index.html
*/

main#index {
  font-family: "Roboto", sans-serif;
}
#index h1 {
  margin: 60px 0 60px;
  text-align: center;
}

/* floating box */
aside#fbox {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid red;
}


/* 
    disapproval.html
*/

/* screenplay-like formatting */
article#disapproval {
  font-family: "Roboto Mono", monospace;
}
#disapproval strong {
  text-transform: uppercase;
  font-weight: 400;
}
/* any <p> that is direct descendent of <article>; not in <header> i.e. not scene direction */
#disapproval > p strong {
  display: block;
  margin: 1em 40% 0 40%;
}
#disapproval > p {
  margin: 1em 10%;
}
#disapproval span {
  display: none;
}


/*
    comedy.html
*/

/* for no javascript */
main#comedy header,
#comedy aside {
  font-family: "Roboto", sans-serif;
}
#comedy a {
  color: #8d3e33; /* maroon */
}

#comedy figure {
  background-image: url("o-captain.jpg");
  background-position: center;
  border-radius: 50%;
}

#comedy hr {
  margin: 25px 0;
}
/* remove <hr>s after <header> and <main> */
#comedy hr:first-of-type {
  display: none;
}

#comedy header,
#comedy figure,
#comedy hr,
#comedy.js aside p {
  border-style: solid;
  border-color: #8d3e33; /* maroon */
}
#comedy header {
  position: relative;
  margin: 170px -8px 0;
  padding: 15px 15px 0;
  border-style: solid none;
  border-width: 3px;
  font-size: 1.1em;
}
@media screen and (min-width: 830px) {
  #comedy header {
    border-style: solid;
    border-radius: 15px;
  }
}
#comedy header figure {
  margin: 0;
  position: absolute;
  top: 0; left: 50%;
  width: 160px;
  height: 160px;
  transform: translate(-80px, -150px);
  background-size: 130%;
  border-width: 5px;
}
#comedy header em {
  font-style: normal;
}

#comedy article {
  font-family: "Roboto Slab", serif;
  margin: 0 8px;
}
/* [redacted] blackout */
#comedy article mark {
  background-color: black;
}
/* links to footnotes */
#comedy article a {
  vertical-align: baseline;
  position: relative;
  top: -5px;
  font-size: 0.8em;
}

/* when javascript kicks in */
#comedy.js hr {
  display: none;
}
#comedy.js aside {
  display: inline-block;
  position: relative;
  height: 8px;
  width: 24px;
}
#comedy.js aside p, 
#comedy.js aside figure {
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  top: -13px;
  left: -3px;
  width: 24px;
  height: 24px;
  border-width: 1.5px;
}
#comedy.js aside p {
  border-radius: 22px;
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  padding: 10px;
}
#comedy.js aside.open p {
  padding-left: 40px;
}
#comedy.js aside figure {
  background-size: 300%;
}


