/* centre body on page; if body is taller than page put at top */
html, body {
  height: 100%;
}
body {
  display: grid;
  
  color: #404040;
}
@media screen and (min-width: 38em) { /* 608px */
  body {
    font-size: 1.2rem; /* 19.2px */
  }
}

/* link colours */
a {
  color: #4d8fdb; 
}
a:visited {
  color: #d8a2ec;
}

/* <main> and <nav> are two main elements on pages that aren't index.html */
main {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 47rem;
}
nav {
  font-family: 'Roboto-Mono', monospace; /* monospace appears much smaller?? */
  margin: 2rem 0;
}

/* index.html */
main h1 {
  margin: 4rem 0 4rem;
  text-align: center;
}
/* floating box */
#fbox {
  display: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 1px solid red;
}

/* disapproval.html script formatting
 * (also appears on index.html) */
.script {
  font-family: 'Roboto Mono', monospace;
}
.script strong {
  text-transform: uppercase;
  font-weight: 400;
}
.script p:not(.scene) strong {
  display: block;
  margin: 1rem 40% 0 40%;
}
.script p:not(.scene) {
  margin: 1rem 10%;
}
.script span {
  display: none;
}

/* comedy.html */
.redacted {
  background-color: black;
}
/* links to footnotes
 * works because when js kicks in it changes href to "#" */
a[href^="#n"] {
  vertical-align: baseline;
  position: relative;
  top: -0.3em;
  font-size: 0.8em;
}
/* below is just for if javascript is enabled */
/* animation stuff */
@keyframes open {
  0% {opacity: 0; margin-left: -20px}
  100% {opacity: 1; margin-left: 0px}
}
.js details {
  display: inline-block;
  position: relative;
}
.js img {
  position: absolute;
  top: 0; right: 0; 
}
.js details[open] summary ~ * {
  animation: open .5s ease-in-out;
}


img {
  width: 2rem;
  height: 2rem;
}


